.photo-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    padding: 0 48px 92px 48px;
    justify-content: center;
}

/*Для разрешения 1280px*/
@media screen and (max-width:1279px) {
    .photo-grid {
     grid-template-columns: repeat(3, 1fr);
    }
}

/*Для разрешения 1024px*/
@media screen and (max-width:1023px) {
    .photo-grid {
     grid-template-columns: repeat(2, 1fr);
     padding: 0 24px 88px;
    }
}

/*Для разрешения 768px*/
@media screen and (max-width:767px) {
    .photo-grid {
        grid-template-columns: repeat(1, 1fr);
    }
}

/*Для разрешения 320px*/
@media screen and (max-width:320px) {
    .photo-grid {
        width: 288px;
        padding: 0 16px 64px;
    }
}