.places {
    display: flex;
    flex-direction: column;
    max-width: 984px;
    margin: 0 auto;
    padding: 0;
    padding-bottom: 92px;
    row-gap: 80px;
    justify-content: center;
}

/*Для разрешения 1280px*/
@media screen and (max-width:1279px) {
    .places {
        max-width: 928px;
    }
}

/*Для разрешения 1024px*/
@media screen and (max-width:1023px) {
    .places {
        row-gap: 72px;
        max-width: 720px;
    }
}

/*Для разрешения 320px*/
@media screen and (max-width:320px) {
    .places {
        row-gap: 50px;
        padding-bottom: 66px;
    }
}