.place__image {
    margin: 0;
    padding: 0;
    max-width: 460px;
    height: auto;
  }

  /*Для разрешения 1024px*/
@media screen and (max-width:1024px) {
  .place__image {
    max-width: 440px;
  }
}

/*Для разрешения 768px*/
@media screen and (max-width:768px) {
  .place__image {
    max-width: 340px;
  }
}

/*Для разрешения 320px*/
@media screen and (max-width:320px) {
  .place__image {
    max-width: 320px;
  }
}