.cover__subtitle {
text-align: center;
color: #ffff;
font-family: "Inter", "Arial";
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;
max-width: 360px;
text-align: center;
position: relative;
z-index: 1;
}