.cover__subtitle {
text-align: center;
color: #ffff;
font-family: "Inter", "Arial";
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;
max-width: 360px;
position: relative;
z-index: 1;
}

/*Для разрешения 320px*/
@media screen and (max-width:768px) {
    .cover__subtitle {
    font-size: 14px;
    line-height: 16px;
    max-width: 288px;
    }
}