.header {
    display: flex;
    padding: 28px 48px 56px 48px;
    min-height: 52px;
    justify-content: space-between;
    margin: 0;
    align-items: flex-end;
}


/*Для разрешения 1024px*/
@media screen and (max-width:1024px) {
    .header {
        padding: 28px 24px 48px 24px;
    }
}

/*Для разрешения 768px*/
@media screen and (max-width:768px) {
    .header {
        padding: 28px 24px 48px 24px;
    }
}

/*Для разрешения 320px*/
@media screen and (max-width:320px) {
    .header {
        min-height: 42px;
        padding: 16px 16px 48px 16px;
    }
}