.place__paragraph {
    max-width: 484px;
    font-weight: 400;
    font-size: 18px;
    line-height: 163%;
    margin: 0;
    padding-bottom: 26px;
}

.place__paragraph:last-child {
    padding-bottom: 0;
}

/*Для разрешения 1024px*/
@media screen and (max-width:1023px) {
    .place__paragraph {
      max-width: 456px;
    }
  }
  
  /*Для разрешения 768px*/
  @media screen and (max-width:767px) {
    .place__paragraph {
      font-size: 16px;
      max-width: 352px;
    }
  }
  
  /*Для разрешения 320px*/
  @media screen and (max-width:320px) {
    .place__paragraph {
      font-size: 16px;
      line-height: 163%;
      margin: 0 16px 0 16px;
    }
  }