.footer__copyright {
    font-family: "Inter", "Arial";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    padding: 0;
    margin: 0;
}

/*Для разрешения 320px*/
@media screen and (max-width:320px) {
    .footer__copyright {
      padding-top: 64px;
    }
  }