.intro__text {
padding: 0;
margin: 0;
font-weight: 400;
font-size: 16px;
line-height: 163%;
}

/*Для разрешения 768px*/
@media screen and (max-width:768px) {
    .intro__text {
    max-width: 93.75%;
    }
  }

  /*Для разрешения 320px*/
@media screen and (max-width:320px) {
  .intro__text {
    font-size: 16px;
    line-height: 163%;
  }
}