.cover {
    padding: 0;
    margin: 0 auto;
    max-width: 1184px;
    display: flex;
    flex-direction: column;
    z-index: 0;
}
  
  /*Для разрешения 1024px*/
  @media screen and (max-width: 1024px) {
    .cover {
      width: 100%;
    }
  }