.lead__caption {
    text-align: left;
    text-transform: uppercase;
    padding-top: 8px;
    margin: 0;
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 0.15em;
}

/*Для разрешения 1024px*/
@media screen and (max-width:1024px) {
    .lead__caption {
        padding-left: 24px;
    }
  }

  /*Для разрешения 768px*/
@media screen and (max-width:768px) {
    .lead__caption {
        padding-left: 16px;
    }
  }
  
  