.footer {
    padding: 92px 48px 24px 48px;
    margin: 0 auto; 
    max-width: 1184px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/*Для разрешения 768px*/
@media screen and (max-width:768px) {
    .footer {
      min-height: 310px;
      padding: 88px 24px 24px 24px;
      flex-direction: column;
    }
  }