.footer {
    padding: 92px 48px 24px 48px;
    margin: 0 auto;
    max-width: 1184px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/*Для разрешения 1024px*/
@media screen and (max-width:1023px) {
  .footer {
    padding: 88px 24px 24px 24px;
  }
}

/*Для разрешения 768px*/
@media screen and (max-width:767px) {
    .footer {
      min-height: 310px;
      padding: 88px 24px 24px 24px;
      flex-direction: column;
    }
  }

  /*Для разрешения 320px*/
@media screen and (max-width:320px) {
  .footer {
    padding-top: 64px;
  }
}